$main-background-col: rgb(40,40,40);
$main-font-col: rgb(205, 205, 205);
$default-border-radius: 10px;
$top-container-margin: 1vh;

body
{
    background-color: rgb(200, 200, 200);
    margin: 0px;
    padding: 0px;
    color: $main-font-col;
    font-family: 'Lato', sans-serif;
    overflow: hidden; /*  to remove small white-space at end of page*/
}
body a 
{
    font-size: x-large;
    color: white;
    text-decoration: none;
}
#top-container
{
    width: 90%;
    height: 98vh;
    margin: $top-container-margin auto $top-container-margin auto; // top right bottom left
    border: 1px solid black;
    border-radius: $default-border-radius;
    
    //
    background-color: $main-background-col;
    //
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 7% 93%;
}

#nav-bar-container
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: $main-background-col;

    grid-column: 1 / span 1;
    grid-row: 1/ span 1;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    justify-content: space-between;
}
#blog-container
{
    background-color: $main-background-col;
    margin: auto;
    margin-left: 15%;
}
#navigation-items
{
    background-color: $main-background-col;
    border-top-right-radius: $default-border-radius;
    align-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
}
#shader-calendar-container
{
    border-bottom-right-radius: $default-border-radius;
    border-bottom-left-radius: $default-border-radius;
    width: 100%;
    height: 100vh - 2 * $top-container-margin - 6.5vh; // magic-ish numbers be here
    margin: 0px;
    padding: 0px;
}
#shader-iframe
{
    border-bottom-right-radius: $default-border-radius;
    border-bottom-left-radius: $default-border-radius;
    width: 100%;
    height: 100%;
    border: none;
    /* pointer-events: none; */
}

@media only screen and (min-width: 768px) {
    #top-container
    {
        width: 60%;     
    }
}