.katex-display > .katex {
  white-space: normal; }

/* Add space between broken lines: */
.katex-display > .base {
  margin: 0.25em 0; }

/* Compensate by reducing space around display math */
.katex-display {
  margin: 0.5em 0; }

.latexWorkaround {
  display: none; }

:root {
  --main-bg-color: #708090;
  --secondary-bg-color: rgb(221, 214, 214);
  --main-text-color: #f1eaea;
  --secondary-text-color: #f1eaea;
  --toc_bg_color: rgb(20, 20, 20);
  --categories-bg-color: rgba(34, 15, 15, 0.5); }

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #343f49;
    --secondary-bg-color: rgb(212, 202, 202);
    --main-text-color: #f5eaea;
    --secondary-text-color: #222121;
    --toc_bg_color: rgba(20, 20, 20, 0.5);
    --categories-bg-color: rgba(20, 20, 20, 0.5); } }
@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #343f49;
    --secondary-bg-color: rgb(212, 202, 202);
    --main-text-color: #f5eaea;
    --secondary-text-color: #222121;
    --toc_bg_color: rgba(20, 20, 20, 0.5);
    --categories-bg-color: rgba(20, 20, 20, 0.5); } }
#center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block; }

h1 {
  font-size: x-large;
  border-bottom: 3px dashed white; }

h2 {
  font-size: large;
  border-bottom: 3px dashed rgba(255, 255, 255, 0.7); }

#toc_container {
  color: var(--secondary-bg-color);
  width: 90%;
  margin: auto;
  padding: 2%;
  background: var(--toc_bg_color) none repeat scroll 0 0;
  border: 1px dashed var(--secondary-bg-color);
  display: table;
  font-size: 95%; }

.toc_title {
  font-weight: 700;
  text-align: center; }

body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-family: 'Cousine', monospace;
  font-weight: auto;
  font-size: 13pt;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

a {
  color: lightskyblue; }

a:visited {
  color: lightskyblue; }

a:hover {
  color: var(--main-text-color); }

.inline-img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle; }

#header {
  display: flex;
  flex-direction: column;
  justify-content: start; }

#contact-bar {
  background-color: var(--main-bg-color);
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2%; }

#contact-bar a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none; }

#contact-bar a:hover {
  color: #fafafa; }

#top {
  color: var(--main-text-color);
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center; }

#top a {
  text-decoration: none; }

#bottom {
  width: 100%;
  border-top: solid var(--main-text-color);
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

#contact {
  margin-top: 2%; }

#github {
  margin-top: 2%; }

#twitter {
  margin-top: 2%; }

img {
  max-width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

#content-categories-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  flex-direction: column-reverse; }

#content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px; }

#categories {
  background-color: var(--categories-bg-color);
  height: fit-content;
  padding-top: 30px;
  padding-bottom: 30px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px; }

#toggle-categories-container {
  display: none; }

#footer-container {
  margin-top: auto;
  font-size: x-small;
  width: 60%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-bg-color);
  color: black;
  display: flex;
  justify-content: center; }

@media screen and (min-width: 850px) {
  img {
    max-width: 75%; }

  #toc_container {
    width: 50%; }

  #header {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%; }

  #toggle-categories-container {
    background-color: var(--main-bg-color);
    font-size: x-large;
    display: flex;
    justify-content: flex-end;
    padding-right: 7.5%; }

  #top {
    width: 30%; }

  #bottom {
    width: 30%; }

  #content-categories-container {
    width: 60%;
    height: 90vh;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto; }

  #content {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; }

  #categories {
    width: 15%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: none;
    flex-direction: column;
    justify-content: start;
    gap: 20px; }

  #categories a {
    margin: 0px;
    text-align: center; }

  #categories p {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
