<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Was weiss ich</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"/>
  </head>
  <body>
    <header>
      <h1> Ian Stranathan</h1>
      <p> Noodling around: Graphics | Game Development | Physics | Math <p>
	<nav>
	  <ul>
	    <li><a href="pages/Misc/about/"><i class="fa-regular fa-address-card"></i></a></li>
	    <li><a href="mailto:ian@wabisoft.io"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
	    <li><a href="https://github.com/stranathan"><i class="fa-brands fa-github"></i></a></li>
	    <!-- <li><a href="#"><i class="fa fa-gear"></i></a></li>	        -->
	  </ul>
	</nav>
    </header>

    <main style="display: flex; flex-direction: column">
    </main>
    
    <footer>
      <p>©Ian Stranathan 2022</p> 
    <footer>
  </body>
<html>

