body
{
    margin: 0px;
}

canvas
{
    display: block;
    width: 100%;
    height: 100%;
}

/* 
    p5 makes a html5 canvas
    css then takes the canvas and makes it 100% of it's parents height, which is the window
    p5 gives us the variable windowWidth and windowHeight back -->  
    whatever your window (local to the machine) is allowing
*/